body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
}


.site-brand {
    text-align: center;
    padding: 20px 0;
}

.site-brand .logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.site-name {
    font-size: 24px;
    color: red;
    text-align: center;
    margin-top: 10px;
}

.header {
    background-color: #333;
    padding: 0;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    text-decoration: none;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar .active {
    background-color: #f02c0e;
}

.main-container {
    margin-top: 60px; 
    padding: 1em;
    line-height: 1.4em;
}

.main {
    background: #fff;
    padding: 2em;
    box-shadow: black;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

.p {
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bolder;
}

.img {
    max-width: 25%;
    height: 25%;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
