/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Merriweather, sans-serif;
    background-color: #000;
    color: #333;
  Font-size: 1.25em;
}




.logo {
    width: 150px;
  height; 150px;
  background-color: #fff;
  border: ;
  border-radius: 100%;
  margin: auto;
  
}

.navigation{
  width:300 px;
  color: #000;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.site-info{
  margin: 2em 2em 2em 2em;
}
.site-links{
  
}
/* Main content styling */
.main {
    padding: 1em;
    max-width: 800px;
    margin-left: 300px auto;
    background: #fff;
    overflow: auto;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
}

form button {
    padding: 10px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
